.table-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
  }
  
  .custom-checkbox .ant-checkbox {
    width: 20px; /* Adjust width */
    height: 20px; /* Adjust height */
  }
  
  .custom-checkbox .ant-checkbox-inner {
    width: 20px;
    height: 20px;
  }
  
  @media (max-width: 768px) { /* Adjustments for tablets and mobile devices */
    .table-container {
      display: flex;
      flex-grow: 1;
      width: 100%;
      margin: 0 0 0 25px;
    }
    .ant-space {
      flex-wrap: wrap;
    }
    .ant-select,
    .ant-picker {
      width: 100% !important;
    }
  }
  